.unicolor{
    color: #242f51;
}
.body-para{
    font-size: 16px;
    color: #616368;
    font-weight: 400;
    font-family: "Poppins";
}
.body-cpara{
    font-size: 16px;
    color: #616368;
    font-weight: 400;
    font-family: "Poppins";
}
.navbar-custom{
    background-color: white;
}
.custom-li li a{
    color: #242f51;
    font-size: 16px;
    font-weight: 400;
    font-family: "Poppins";

}
.try-free-btn{
    background-color: #2500f9!important;
    border-radius: 38px!important;
    font-size: 15px !important;
    color: #ffffff!important;
    font-weight: 700!important;
    font-family: "Poppins"!important;
    padding: 9px 30px 9px 30px!important;
}
.nav-tabs .nav-link{
    border-radius: 38px!important;
    font-size: 15px !important;
    color: black!important;
    font-weight: 700!important;
    font-family: "Poppins"!important;
    padding: 9px 30px 9px 30px!important;
    border: 1px solid gray!important;
}
.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active{
    background-color: #2500f9!important;
    border-radius: 38px!important;
    font-size: 15px !important;
    color: #ffffff!important;
    font-weight: 700!important;
    font-family: "Poppins"!important;
    padding: 9px 30px 9px 30px!important;
    border: 1px solid #2500f9!important;
}
.watch-demo{
    font-size: 16px;
    line-height: 44px;
    color: #2500f9;
    font-weight: 400;
    font-family: "Poppins";
    margin-left: 3%;
}
.style-h1{
    font-size: 60px;
    font-weight: bold;
    font-family: "Poppins";
}
.home-p{
    color: #616368;
    font-family: 'poppins';
    font-size: 18px;
    font-weight: 400;
    line-height: 28px;
}
.group{
    background-color: #242f51;
    color: white;
}
.f-content{
    font-size: 16px;
    line-height: 44px;
    color: #ffffff;
    font-weight: 400;
    font-family: "Poppins";
    padding: 15px;
}
.copy-right{
    font-size: 14px;
    font-family: 'Poppins';
    color: #d8d3d3;

}
.banner-img{
    height: 550px;
}
.downloadimg2{
    height: 373px;
    
}
.downloadimg{
    
    height: 100%;
    width: 100%;
}
.awsome-banner{
    height: 100%;
    width: 100%;
}
#home-section{
    background: url(../img/header2.png);
    background-repeat: no-repeat;
    background-position: bottom;
}

.question-details{
    background-color: aliceblue;
}
.extend-home-img{
   width: 16%;
   padding-right: 4%;
}
.extend-home-img1{
    width: 13%;
    padding-right: 4%;
 }

 .extend-home-img3{
    width: 14%;
    padding-right: 4%;
 }
.smart-jack1{
    font-size: 20px;
    color: #f55767;
    font-weight: 600;
    font-family: "Poppins";
    padding-bottom: 3%;
    
}
.smart-jack2{
    font-size: 20px;
    color: #2563ff;
    font-weight: 600;
    font-family: "Poppins";
    padding-bottom: 3%;

}
.smart-jack3{
    font-size: 20px;
    color: #40975f;
    font-weight: 600;
    font-family: "Poppins";
    padding-bottom: 3%; 
}
.awsome-header{
    font-size: 36px;
    line-height: 46px;
    color: #242f51;
    font-weight: 600;
    font-family: "Poppins";
    padding-bottom: 7px; 
}
.smart-header{
    font-size: 40px;
    line-height: 50px;
    color: #242f51;
    font-weight: 600;
    font-family: "Poppins";
    padding-bottom: 2%;
   
}
.smart-header2{
    font-size: 40px;
    line-height: 50px;
    color: #242f51;
    font-weight: 600;
    font-family: "Poppins";
    border-right: 2px solid #c6bbbb; 
}
.design-header{
    font-size: 36px;
    line-height: 46px;
    color: #242f51;
    font-weight: 600;
    font-family: "Poppins";
    padding-bottom: 2%;
}
.choose-header{
    font-size: 20px;
    line-height: 58px;
    color: #242f51;
    font-weight: 600;
    font-family: "Poppins"
}
.choose-header3{
    font-size: 20px;
    line-height: 58px;
    color: #242f51;
    font-weight: 600;
    font-family: "Poppins"
}
.com-name{
    font-size: 20px;
    color: #242f51;
    font-weight: 600;
    font-family: "Poppins"
}
.choose-header2{
    font-size: 20px;
    color: #242f51;
    font-weight: 600;
    font-family: "Poppins"
}
.fre-question{
    font-size: 15px;
    color: #242f51;
    font-weight: 600;
    font-family: "Poppins";
}

.down-header{
    font-size: 45px;
    line-height: 58px;
    color: #242f51;
    font-weight: 600;
    font-family: "Poppins";
    text-align: center;
}
.edit-css{
    font-size: 18px;
    line-height: 28px;
    color: #242f51;
    font-weight: 400;
    font-family: "Poppins";
}
.editor-div{
    width: 48%;
    background-color:#daeff8;
    border-radius: 35px;
}
.editor-icon-backgrnd{
    background-color: gold;
    border-radius: 20px;
    width: 27px;
    height: 27px;
    float: left;
    margin-right: 3%;
}
.editor-img{
    margin-left: 21%;
    margin-top: 8%;
    width: 60%;
}
.sq-shape{
  width: 20px;
  height: 20px;
  margin-left: 41%;
  border: 3px solid gray;
  position: relative;
  opacity: .2;
  -webkit-animation: rotation 5s infinite linear;
}
@-webkit-keyframes rotation {
    from {
            -webkit-transform: rotate(0deg);
    }
    to {
            -webkit-transform: rotate(359deg);
    }
}
.smgray-circle{
    height: 20px;
    width: 20px;
    border-radius: 50%;
    margin-left: 5%;
    border: 5px solid gray;
    position: relative;
    animation-name: example;
    animation-duration: 25s;
    animation-iteration-count: infinite;
    opacity: .2;
}


@keyframes example {
  0%   { left:50px; top:0px;}
  25%  { left:200px; top:0px;}
  50%  { left:350px; top:200px;}
  75%  { left:0px; top:200px;}
  100% { left:50px; top:0px;}
  }
  .sm-circle1{
    height: 19px;
    width: 19px;
    border-radius: 50%;
    margin-left: 39%;
    border: 4px solid coral;
    position: relative;
    -webkit-animation: rotate3d 4s linear infinite;
    animation-name: exampl;
    animation-duration: 25s;
    animation-iteration-count: infinite;
    opacity: .6;
}
@keyframes exampl {
    0%   { left:200px; top:0px;}
    50%  { left:200px; top:200px;}
    75%  { left:0px; top:200px;}
    100% { left:200px; top:0px;}
   
  }
  .ic-des{
    -webkit-animation: rotation 5s infinite linear;
    -webkit-animation: rotation 5s infinite linear;
    font-size: 17px;
    color: skyblue;

  }
  .sm-circle{
    height: 19px;
    width: 19px;
    border-radius: 50%;
    margin-left: 39%;
    border: 4px solid coral;
    position: relative;
    animation-name: examples;
    animation-duration: 20s;
    animation-iteration-count: infinite;
    opacity: .6;
}
.sm-circle-footer{
    height: 25px;
    width: 25px;
    border-radius: 50%;
    border: 4px solid coral;
    position: relative;
    animation-name: example;
    animation-duration: 30s;
    animation-iteration-count: infinite;
    opacity: .6;
}
  @keyframes examples {
    0%   { left:0px; top:0px;}
    25%  { left:200px; top:0px;}
    50%  { left:200px; top:200px;}
    100% { left:0px; top:0px;}
  }
  .sm-circle2{
    height: 25px;
    width: 25px;
    border-radius: 50%;
    margin-top: 5%;
    margin-left: 9%;
    border: 4px solid coral;
    position: relative;
    animation-name: examples;
    animation-duration: 20s;
    animation-iteration-count: infinite;
    animation-direction: reverse; 
    opacity: .4;
}
.circle-pink{
    background-color: antiquewhite;
    height: 70px;
    width: 70px;
    border-radius: 50%;
    margin-top: 7%;
}

.circle-blue{
    background-color: aliceblue;
    height: 70px;
    width: 70px;
    border-radius: 50%;
    margin-top: 7%;
}
.circle-green{
    background-color: #e9fee9;
    height: 70px;
    width: 70px;
    border-radius: 50%;
    margin-top: 7%;
}
.circle-icon-w{
    width: 40px;
    height: 40px;
    margin-top: -9px
}
.circle-pink2{
    background-color: #fdede3;
    height: 70px;
    width: 70px;
    border-radius: 50%;
    margin-left: 39%;
}
.circle-gray{
    background-color: #f3f3ff;
    height: 70px;
    width: 70px;
    border-radius: 50%;
    margin-left: 39%;
}
.circle-lightblue{
    background-color: #e3ffed;
    height: 70px;
    width: 70px;
    border-radius: 50%;
    margin-left: 39%;
}
.circle-caro{
    border: 2px solid gray;
    height: 44px;
    width: 44px;
    border-radius: 50%;
    margin-left: 39%;
}
.circle-caro1{
    background-color: #e3ffed;
    height: 44px;
    width: 44px;
    border-radius: 50%;
    margin-left: 39%;
}

.circle-orange{
    background-color: #fff5d3;
    height: 70px;
    width: 70px;
    border-radius: 50%;
    margin-left: 39%;
}
.circle-pink3{
    background-color: #fdede3;
    height: 70px;
    width: 70px;
    border-radius: 50%;
   
}
.circle-gray2{
    background-color: #f3f3ff;
    height: 70px;
    width: 70px;
    border-radius: 50%;
   
}
.circle-lightblue2{
    background-color: #e3ffed;
    height: 70px;
    width: 70px;
    border-radius: 50%;
    
}
.circle-orange2{
    background-color: #fff5d3;
    height: 70px;
    width: 70px;
    border-radius: 50%;
    
}
.circle-img {
    width: 40px;
    height: 40px;
    margin-top: 19%;
}

.card-p{
    font-size: 16px;
    color: #999ca5;
    font-weight: 400;
    font-family: "Poppins";
    text-align: center;
}
.mont{
    margin-top: 4px;
    font-size: 17px;
    line-height: 48px;
    color: #999ca5;
    font-weight: 400;
    font-family: "Poppins";
    text-align: center;
}
.month-para{
    font-size: 14px;
    color: #999ca5;
   font-weight: 400;
   font-family: "Poppins";
   text-align: center;
}
.free-trial{
    font-size: 13px;
    line-height: 28px;
    color: #2500f9;
    font-weight: 400;
    font-family: "Poppins";
    text-align: center;
    margin-left: 10%;
}
.marg{
    margin-left: 13%;
}
.icon-des{
    color: gray;
    font-size: 25px!important;
    padding: 15px;
}
.card-head{
    padding: 11%;
    text-align: center;
    background: #648880;
    background: linear-gradient(to top, #d2e4f1,white 60% );
    
}
.img {
    border-radius: 50%;
    width: 60px;
    height: 60px;
  }
.card-cus-body{
    padding: 13%;
    text-align: center;
    
}
.pa-x{
    padding-bottom: 8%;
}
.pa-t{
    padding-top: 9%;
}
.pa-b{
    padding-bottom: 4%;
}
.pa-t-l{
    padding-top: 2%;
    padding-left: 3%;
    padding-bottom: 2%;
}
.marg{
    margin-top: -21px;
}
.icon-custom{
    margin-top: 28%;

}
.col-pa{
    padding-top:4% ;
    padding-bottom: 1%;
}
.star-icon{
    color: gold;
    font-size: 25px!important;
    padding-right: 2%;
}
.star-icon2{
    color: #ddd;
    font-size: 25px!important;
    padding-right: 2%;
}
.mon-anu{
  
    margin-left: 39%;
}
.card-bm{
    margin-left: 27%;
}
.ptb-3{
    padding-top: 3rem;
    padding-bottom: 3rem;
}

/* #all media queries */

@media only screen and (max-width: 767px) {
    .ma-media{
      margin-left: 6%;
    }
  
    .circle-img {
        width: 36px;
        height: 36px;
        margin-top: 19%;
    }
    .disply{
        display: flex;
    }
    .down-header {
        font-size: 24px;
        line-height: 58px;
        color: #242f51;
        font-weight: 600;
        font-family: "Poppins";
        text-align: center;
        margin-left: 6%;
    }
    .choose-header3 {
        font-size: 16px;
        line-height: 30px;
        color: #242f51;
        font-weight: 600;
        font-family: "Poppins";
    }
    .banner-img {
       
        width: 100%;
    }
    .home-p br{
    display: none;
    }
    .style-h1 br{
        display: none;
    }
    .home-p {
        color: #616368;
        font-family: 'poppins';
        font-size: 16px;
        font-weight: 400;
        line-height: 28px;
    }
    .py-5{
        padding-bottom: 0rem!important;
    }
    .sm-circle2{
        display: none;
    }
    .card-ma{
        margin-left: 14%;
    }
    .downloadimg2 {
        width: 100%;
        height: 100%;
    }
    .ph-m{
        margin-left: 3%;
    }
    .style-h1 {
        font-size: 39px;
        font-weight: bold;
        font-family: "Poppins";
    }
    .editor-div {
        width: 90%;
        background-color: #daeff8;
        border-radius: 35px;
    }
    .edit-css {
        font-size: 12px;
        line-height: 28px;
        color: #242f51;
        font-weight: 400;
        font-family: "Poppins";
    }
    .watch-demo {
        font-size: 13px;
        line-height: 44px;
        color: #2500f9;
        font-weight: 400;
        font-family: "Poppins";
        margin-left: 3%;
    }
    .try-free-btn {
        background-color: #2500f9!important;
        border-radius: 38px!important;
        font-size: 10px !important;
        color: #ffffff!important;
        font-weight: 700!important;
        font-family: "Poppins"!important;
        padding: 9px 30px 9px 30px!important;
    }
    .awsome-col{
        margin-left: 6%!important;
    }
    .body-para {
        font-size: 12px;
        color: #616368;
        font-weight: 400;
        font-family: "Poppins";
    }
    .smart-header2 br {
        display: none;
    }
    .smart-header {
        font-size: 34px;
        line-height: 43px;
        color: #242f51;
        font-weight: 600;
        font-family: "Poppins";
        padding-bottom: 2%;
    }
    .break br{
        display: none;
    }
    .smart-header2 {
        font-size: 25px;
        line-height: 37px;
        color: #242f51;
        font-weight: 600;
        font-family: "Poppins";
        border-right: 2px solid #c6bbbb;
    }
    .design-header {
        font-size: 23px;
        line-height: 37px;
        color: #242f51;
        font-weight: 600;
        font-family: "Poppins";
        padding-bottom: 2%;
    }
    .unli-ml{
         margin-left: 16%;
    }
    .mon-anu {
        margin-left: 14%;
    }
    .card-bm {
        margin-left: 14%;
    }
    .circle-caro{
        border: 2px solid gray;
        height: 37px;
        width: 44px;
        border-radius: 50%;
        margin-left: 39%;
    }
    .circle-caro1{
        background-color: #e3ffed;
        height: 37px;
        width: 44px;
        border-radius: 50%;
        margin-left: 39%;
    }
    .choose-header {
        font-size: 18px;
        color: #242f51;
        font-weight: 600;
        font-family: "Poppins";
    }
    .fre-question {
        font-size: 12px;
        color: #242f51;
        font-weight: 600;
        font-family: "Poppins";
    }
   .app-marg{
       margin-left: 1%!important;
   }
   .img-w{
    width: 45%;
   }
   .nav-marg{
       margin-left: 0%!important;
   }
   .ptb-3{
    /* padding-top: 3rem!important; */
    padding-bottom: 0rem !important;
   }
     
  }
  @media only screen and (width: 375px){
.editor-div {
    width: 83%;
    background-color: #daeff8;
    border-radius: 35px;
}
}
@media only screen and (width: 768px){
}